/* @import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Lato', sans-serif;
    line-height: 1.7;
    padding: 3rem;
}

.header {
    height:95vh;
    background-image: -webkit-linear-gradient(left top, right bottom, 
                                        from(rgba(126,213,111,0.8)), to(rgba(40,180,133,0.8))),
                                        url(../img/hero-small.jpg);
    background-image: linear-gradient(to right bottom, rgba(126,213,111,0.8),
                                         rgba(40,180,133,0.8)),url(../img/hero-small.jpg);
    background-image: -moz-linear-gradient(to right bottom, rgba(126,213,111,0.8),
                                         rgba(40,180,133,0.8)),url(../img/hero-small.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    position: relative;
}

.logo_box {
    position: absolute;
    top: 4rem;
    left: 4rem;
}

.nats_logo{
    width: 3.5rem;
}

.header__text_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    text-align: center;
}

.primary_heading {
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 6rem;
}

.primary_heading--main {
    display: block;
    font-size:4.8rem;
    font-weight: 600;
    letter-spacing: 3.5rem;
    margin-bottom: 2rem;
    -webkit-animation: moveRight 2s ease;
    animation: moveRight 2s ease;
}

.primary_heading--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.4rem;
    -webkit-animation: moveLeft 2s ease;
    animation: moveLeft 2s ease;
}

.btn, .btn:link, .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;
    position: relative;
    font-size: 1.6rem;
    border: none;
    cursor: pointer; }
  
  .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    .btn:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0; }
  
  .btn:active, .btn:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
  
  .btn--white {
    background-color: #fff;
    color: #777; }
    .btn--white::after {
      background-color: #fff; }
  
  
  .btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s; }
  
  .btn--animated {
    animation: moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards; }
  
/* Keyframe */

@keyframes moveRight {
    20% {
        opacity: 0;
        -webkit-transform: translateX(-2rem);
        transform: translateX(-2rem);    
    }
    40% {
        opacity: 0.4;
        -webkit-transform: translateX(3rem);
        transform: translateX(3rem);   
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);   
    }
}

@keyframes moveLeft {
    20% {
        opacity: 0;
        -webkit-transform: translateX(2.5rem);
        transform: translateX(2.5rem);    
    }
    40% {
        opacity: 0.4;
        -webkit-transform: translateX(-3rem);
        transform: translateX(-3rem);   
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);   
    }
}

@keyframes moveInBottom {
    0% {
      opacity: 0;
      transform: translateY(3rem); }
    100% {
      opacity: 1;
      transform: translate(0); } }

.section_tours {
    padding: 25rem 0 50rem 0;
    background-color: #F7F7F7;
    margin-top: -27vh;
}

.tour_heading {
    display: block;
    text-align: center;
    margin-bottom: 10rem;
}

.secondary_heading {
    font-size: 3.2rem;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    background: green;
    background: -webkit-linear-gradient(to right, rgba(126,213,111,0.8) 50%, rgba(40,180,133,0.8) 50%);
    background:-moz-linear-gradient(to right, rgba(126,213,111,0.8) 50%, rgba(40,180,133,0.8) 50%);
    background:linear-gradient(to right, rgba(126,213,111,0.8) 50%, rgba(40,180,133,0.8) 50%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    box-shadow: 1px 1px 4px black 0.5;
}

.tour_content {
    max-width: 114rem;
    margin: 0 auto;
}
.tour_text {
    width: calc((100% - 6rem)/2);
    float: left;
    margin-right: 4rem;
    color: #777777;
    text-transform: uppercase;
}

.primary_heading--tour, .secondar_heading--tour {
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 2rem;
}


.primary_text--main, .secondar_text--main {
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 3rem;
}

.tour_img {
    width: calc((100% - 6rem)/2);
    float: left;
    text-align: center;
}

._img {
    position: relative;
    text-align: center;
}

img {
    position: absolute;
    width: 50%;
    box-shadow: 0px 4px 5px white, 0 4px 20px white;
    /* filter: drop-shadow(10px 10px 5px black); */
}

.img1{
    right: 2rem;
    left: 2rem;
}

.img2{
    top: 4rem;
    right: 4rem;
}

.img3{
    top: 10rem;
    left: 8rem;
}

.img:hover {
    padding: 1rem;
    border: 10px solid lightgreen;
    transform: scale(1.2);
    z-index: 10;
}

.btn_learn {
    padding: 10px;
    font-size: 1.6rem;
    text-decoration: none;
    border-bottom: 1px solid #55C57A;
    text-transform: none;
    color: #55C57A;
}

.btn_learn:hover {
    background:#55C57A;
    color: white;
}

.section_cards {
    padding: 25rem 0;
    background-image: -webkit-linear-gradient(left top, right bottom, 
    from(rgba(126,213,111,0.8)), to(rgba(40,180,133,0.8)));
    background-image: linear-gradient(to right bottom, rgba(126,213,111,0.8),
        rgba(40,180,133,0.8));
    background-image: -moz-linear-gradient(to right bottom, rgba(126,213,111,0.8),
     rgba(40,180,133,0.8));
     -webkit-transform: skewY(-7deg);
     transform: skewY(-7deg);
     margin-top: -13vh ;
}

.card_container {
    width: 114rem;
    float: left;
    margin: auto;
    -webkit-transform: skewY(7deg);
    transform: skewY(7deg);
}

 .col-1-1 {
    width: calc((100% - 3*6rem)/4);
    background-color: white;
    border: none;
    text-align: center;
    display: inline-block;
    margin-left:4rem ;
}

.col {
    padding: 2.5rem; */

}
/* .col-2-1 {
    width: calc((100%-3*6rem)/4);
    width: 22.5rem;
    padding: 2.5rem;
    background-color: white;
    border: none;
    text-align: center;
} */



.card_heading {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 3rem;
    background: green;
    background: -webkit-linear-gradient(to right, rgba(126,213,111,0.8) 50%, rgba(40,180,133,0.8) 50%);
    background:-moz-linear-gradient(to right, rgba(126,213,111,0.8) 50%, rgba(40,180,133,0.8) 50%);
    background:linear-gradient(to right, rgba(126,213,111,0.8) 50%, rgba(40,180,133,0.8) 50%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    box-shadow: 1px 1px 4px black 0.5;
}

.card_text {
    font-size: 1.4rem;
} */